/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-normal), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-normal);
  background-image: var(--bg-img);
  background-size: cover;
  justify-items: center;
}

.header{
  inline-size: var(--area-width);
  block-size: clamp(20.438rem, 19.535rem + 3.85vw, 23rem);
  font-family: var(--font-family-accent), sans-serif;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-block-start: 100px;
  gap: 20px;

}

.header__head{
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  text-transform: uppercase;
}

.header__title{
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  text-transform: uppercase;
}

