/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-normal), sans-serif;
  font-variation-settings: "wght" var(--font-weight-normal);
  background-image: var(--bg-img);
  background-size: cover;
  background-attachment: fixed;
  justify-self: center;
  width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

/*Заголовок*/
.header {
  inline-size: var(--area-width);
  font-family: var(--font-family-accent), sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  margin-block-start: 98px;
  margin-block-end: 98px;
  padding-block-start: 130px;
  padding-block-end: 130px;
  gap: 20px;
}

.block__border {
  border: var(--border);
}

.header__head {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  text-transform: uppercase;
}

/*Контент*/
.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  inline-size: var(--area-width);
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  box-sizing: border-box;
}

.card__title {
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-bold);
  padding-inline-start: 10px;
  padding-block-start: var(--padding-card-title);
  padding-block-end: 4px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
  padding-inline: 25px;
  padding-block-start: 23px;
}

.card__media {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.card__img {
width: 100%;
object-fit:contain;
object-position: center;
}

.card__img-invert {
  filter: invert(0.7);
  aspect-ratio: 1 / 1;
}

.card__img-sepia {
  filter: sepia(80%);
}

.card__img-brightness {
  filter: brightness(150%);
}

.card__img-mix {
  filter: brightness(170%) saturate(150%) contrast(1.2);
}

.card__img-contrast {
  filter: contrast(1.5);
}

.card__img-blur {
  filter: blur(0.75rem);
}

.card__img-grayscale {
  filter: grayscale(0.9);
}

.card__img-label {
  content: "";
  position: absolute;
  opacity: 50%;
  font-family: var(--font-family-accent), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--text-shadow-color), 0 1px var(--text-shadow-color),
    1px 0 var(--text-shadow-color), 0 -1px var(--text-shadow-color);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--text-shadow-color)) or
    (-webkit-text-stroke: 1px var(--text-shadow-color))
) {
  .card__img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-shadow-color);
    text-stroke: 1px var(--text-shadow-color);
  }
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
  margin-block: 25px;
  padding-inline-end: 25px;
}

.card__like-button {
  align-content: center;
  inline-size: 130px;
  block-size: 38px;
}

.card__icon-button {
  background-color: #fff;
  inline-size: 38px;
  block-size: 38px;
  padding: 0;
  outline: none;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.button {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  z-index: 1;
}

.button__text {
  font-family: var(--font-family-accent), sans-serif;
  font-size: 14px;
  display: block;
  text-align: center;
  color: #fff;
  mix-blend-mode: difference;
}

.button-floppy {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-inline: auto;
  margin-block-end: 105px;
  padding: 0;
  padding-inline: 19px;
  line-height: 90%;
  inline-size: 339px;
  block-size: 55px;
}

.floppy-icon {
  color: #fff;
  mix-blend-mode: difference;
}

/*Диалоговое окно*/

dialog:not([open]) {
  display: none;
}

.dialog {
  max-width: clamp(21.313rem, 21.048rem + 1.127vw, 22.063rem);
  padding: 30;
  font-family: var(--font-family-accent), sans-serif;
  line-height: 150%;
  background-color: #fff;
  padding-inline: clamp(2.5rem, 2.72rem + -0.939vw, 1.875rem);
  padding-block: 30px;
}

dialog[open] .form-dialog {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 20px;
  row-gap: 30px;
  width: 100%;
  height: 100%;
  align-content: space-between;
  align-items: center;
}

.dialog__text {
  grid-column: 2;
  font-size: 14px;
  font-weight: normal;
  line-height: 150%;
  text-align: start;
  text-transform: uppercase;
}

.dialog .button {
  grid-column: 1 / span 2;
  justify-self: start;
  align-self: center;
  height: 38px;
  font-size: 14px;
  inline-size: clamp(16.313rem, 15.608rem + 3.005vw, 18.313rem);
}

.dialog[open]::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

@media (width <= 375px) {
  .button-floppy {
    flex-direction: column;
    inline-size: 306px;
    block-size: 84px;
  }

  .floppy-icon {
    width: 28px;
    height: 28px;
  }
}

/*Анимация без сердечка, оно в другом css*/

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0px rgb(0 0 0 / 1);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  display: block;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__icon-button:focus-visible {
  border: var(--border);
}
